h1 {
    display: flex;
    font-size: 30px;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

ul{
    list-style-type: none;
    font-size: 20px;
    font-family: "Arial", Arial, Sans-serif;
}

.welcome{
    margin: 20px;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
}

.time{
    margin: 20px;
    display: flex;
    font-size: 80px;
    justify-content: center;
}

.label{
    margin: 10px;
    border-left: 300px;
    font-family: "Arial", Arial, Sans-serif;
    font-size: 20px;
}

.container{
    margin-top: 20px;
    margin-left: 20%;
    width: 500px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}